<div class = "row">
	<div class = "col-xs-3">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>Stats</p>
			</div>
		</div>
	</div>

	<div class = "col-xs-6">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>mfeed</p>
			</div>
		</div>
	</div>

	<div class = "col-xs-3">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>terms</p>
			</div>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-xs-3">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>Popular</p>
			</div>
		</div>
	</div>
</div>
