<div class = "row">
	<div class = "col-xs-12">
		<div class = "jumbotron">
			Header
		</div>
	</div>
</div>

<!--begin row 2-->
<div class = "row">
	<div class = "col-xs-3">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>profile</p>
			</div>
		</div>
	</div>

	<div class = "col-xs-6">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>music</p>
			</div>
		</div>
	</div>

	<div class = "col-xs-3">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>wtf</p>
			</div>
		</div>
	</div>
</div>
<!--begin row 3-->
<div class = "row">
	<div class = "col-xs-3 col-xs-offset-9">
		<div class = "panel panel-default">
			<div class = "panel-body">
	 			<p>Popular</p>
			</div>
		</div>
	</div>
</div>
