<!DOCTYPE html>
<html>
  <head>
    <title>Animus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render  '/layouts/nav' %>


  <div class = "container">
  	<span class="notice"><%= notice %></span>
   <span class="alert"><%= alert %></span>
  <%= yield %>
    </div>
  </body>
</html>
